<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9D9655BD1D05632E0076DBF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D9655D61D05632F0076DBF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D9655E11D05632F0076DBF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
